<div class="container">
  <div class="d-flex flex-row justify-content-between mb-3">
    <div class="p-2">
      <%= link_to new_bag_path, class: "btn btn-dark" do %>
        List Your Bag
      <% end %>
    </div>
    <div class="p-2"></div>
    <div class="p-2">
      <%= link_to your_bags_path, class: "btn btn-dark" do %>
        Your Bags
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4 my-3">
      <%= form_with url: bags_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control mr-2",
              placeholder: "Search for bag" %>
        <%= submit_tag "Search", name: "", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @bags.each do |bag| %>
      <div class="col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="card">
          <img src="<%= bag.picture_url %>" alt="<%= bag.brand %> bag" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= bag.brand %></h5>
            <a href="<%= bag_path(bag) %>" class="btn btn-dark">
              View Details 
              <span class="material-symbols-outlined">
                arrow_right_alt
              </span>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

