
<div class="container p-3 mt-3">
  <%= form_for @bag do |b| %>
    <div class="col-12 mt-3 ">
      <%= b.label :brand, class: "form-label" %>
      <%= b.text_field :brand, class: "form-control" %>
    </div>
    <div class="col-12 mt-3">
      <%= b.label :picture_url, class: "form-label" %>
      <%= b.text_field :picture_url, class: "form-control" %>
    </div>
    <div class="col-12 mt-3">
      <%= b.label :description, class: "form-label" %>
      <%= b.text_field :description, class: "form-control" %>
    </div>
    <div class="col-12 mt-3">
      <%= b.label :condition, class: "form-label" %>
      <%= b.select :condition, Bag::CONDITIONS , class: "form-control" %>
    </div>
    <div class="col-12 mt-3">
      <%= b.submit class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>
