<div class="row">
  <div class="col-6 left-col py-5 text-center">
    <img src="<%= @bag.picture_url %>" alt="" style="max-width: 100%; max-height: 600px; object-fit: contain;">
  </div>

  <div class="col-6 right-col mt-5">
      <p class="m-0"><strong>Condition:</strong> <%= @bag.condition.capitalize %></p>
      <p class="m-0"><strong>Description:</strong> <%= @bag.description.capitalize %></p>
      <p class="m-0"><strong>Price / day:</strong> $<%= @bag.price_per_day %> </p>
    <%= simple_form_for [@bag, @request] do |f| %>
      <%= f.input :start_date, html5: true %>
      <%= f.input :end_date, html5: true  %>
      <%= f.submit "Confirm your order", class: "btn btn-secondary" %>
    <% end %>

  </div>
</div>
