<div class="row">
  <div class="col-6 left-col py-5 text-center">
    <img src="<%= @bag.picture_url %>" alt="" style="max-width: 100%; max-height: 600px; object-fit: contain;">
  </div>

  <div class="col-6 right-col py-5">
    <p><strong>Brand:</strong>  <%= @bag.brand.capitalize %></p>
    <p><strong>Condition:</strong> <%= @bag.condition.capitalize %></p>
    <p><strong>Description:</strong> <%= @bag.description.capitalize %></p>
    <p><strong>Price / day:</strong> $<%= @bag.price_per_day %> </p>
    <%= link_to new_bag_request_path(@bag), class: "status-link" do %>
      <button class="btn btn-secondary mx-5">Confirm your order</button>
    <% end %>
  </div>
</div>
